@import 'resets';
@import 'variables';


body {
    background-color: black;
    @include flex-center;
    height: 100vh;
}
.holder {
    height: 20px;
    width: 230px;
    display: grid;
    gap: 50px;
    grid-template-columns:repeat(4 , 1fr);
    &_items {
        @include flex-center;
    }
    .light1 {
        background-color: yellow;
        animation-delay: 0.25s;
    }
    .light2 {
        background-color: red;
        animation-delay: 0.5s;
    }
    .light3 {
        background-color: green;
        animation-delay: 0.75s;
    }
    .light4 {
        background-color: pink;
        animation-delay: 0.1s;
    }
}
.light {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
    animation: flicker $period infinite;
}
@keyframes flicker {
    0% {
        width: 5px;
    }
    50% {
        width: 20px;
        filter: blur(3px);
    }
    100% {
        width: 5px;
    }
}