@import 'resets';
@import 'variables';


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.holder {
    height: 20px;
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.light {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
    animation: flicker $period infinite;

    &:nth-child(1){
        background-color: yellow;
        animation-delay: 0.25s;
    }
    &:nth-child(2){
        background-color: red;
        animation-delay: 0.5s;
    }
    &:nth-child(3){
        background-color: green;
        animation-delay: 0.75s;
    }
    &:nth-child(4){
        background-color: pink;
        animation-delay: 1s;
    }
}
@keyframes flicker {
    0% {
        width: 5px;
    }
    50% {
        width: 20px;
        filter: blur(3px);
    }
    100% {
        width: 5px;
    }
}